/* Adjustments for the main background animation */
.blob-cont {
  position: absolute;
  top: 0; /* Align with the top of the page */
  left: 0;
  width: 100%; /* Full width of the viewport */
  height: 112vh; /* Adjust height to occupy top to upper-middle */
  overflow: hidden; /* Hide overflow */
  border: 0;
  z-index: -2;
}

svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* filter: blur(90px); */
}

/* moving color blobs */
/* .blob {
  border-radius: 50%; /* to make blobs round
  filter: blur(10px);
  position: absolute; /* Allow them to be placed within .blob-cont
}
/* here yellow1 and below red1, green1 are not colors they are just names for the animation so that @keyframes can identify them
.yellow {
  background-color: var(--blob-yellow);
  top: 0; /* Adjust top position
  left: 0; /* Adjust left position
  height: 600px;
  width: 600px;
  animation: yellow1 8s infinite ease;
}
.green {
  background-color: var(--blob-green);
  top: 20%; /* Adjust top position
  right: 10%; /* Adjust right position
  height: 500px;
  width: 550px;
  animation: green1 8s infinite ease;
}
.red {
  background-color: var(--blob-red);
  bottom: 10%; /* Adjust bottom position
  left: 50%; /* Adjust left position
  height: 550px;
  width: 500px;
  animation: red1 8s infinite linear;
}
@keyframes yellow1 {
  0% {
    transform: translateX(-50%) translateY(-10%);
    top: 0px;
    right: 0px;
  }
  50% {
    transform: translateX(50%) translateY(10%);
    top: 0px;
    right: 90px;
  }
  100% {
    transform: translateX(-50%) translateY(-10%);
    top: 0px;
    right: 0px;
  }
}
@keyframes green1 {
  0% {
    top: 80px;
    right: -20px;
    transform: scale(1.2);
  }
  30% {
    top: 300px;
    right: -20px;
    transform: scale(1);
  }
  60% {
    top: 200px;
    right: 100px;
    transform: scale(1);
  }
  100% {
    top: 80px;
    right: -20px;
    transform: scale(1.2);
  }
}
@keyframes red1 {
  0% {
    top: 250px;
    right: 0px;
    transform: scale(1);
  }
  30% {
    top: 150px;
    right: 150px;
    transform: scale(1.4);
  }
  60% {
    top: 250px;
    right: 100px;
    transform: scale(1);
  }
  100% {
    top: 250px;
    right: 0px;
    transform: scale(1);
  }
} */

/* rotating material you effects */
.material-you-img {
  width: 0;
  height: 0;
  opacity: 0;
  transform: scale(0.1); /* Optional: scale down initially */
  transition: opacity 1.2s ease-out, transform 1.2s ease-out; /* Smooth transition */
}

.corner-image {
  position: fixed;
  bottom: 0px;
  width: 300px;
  height: 300px;
  overflow: hidden;
  z-index: -1;
  pointer-events: none;
}

.corner-image .material-you-img.scrolled {
  width: 100%;
  height: 100%;
  object-fit: contain;
  opacity: 0.45;
  transform: scale(1); /* Scale to full size */
}

.bottom-left {
  left: -150px;
  bottom: -150px;
  animation: rotate 20s infinite linear;
}

.bottom-right {
  bottom: -150px;
  right: -150px;
  animation: rotate 25s infinite linear;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* for mobile view */
@media (max-width: 600px) {
  .blob-cont {
    height: 100vh;
  }

  .corner-image {
    width: 180px;
    height: 180px;
  }

  .bottom-left {
    left: -90px;
    bottom: -90px;
  }

  .bottom-right {
    right: -90px;
    bottom: -90px;
  }

  .corner-image .material-you-img.scrolled {
    opacity: 0.3;
  }
}
